In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
a = 1
b = 2
c = -1231
d = 123
print(a, b, c, d)

1 2 -1231 123

In [4]:
add = 123 + 321
print(add)

444

In [16]:
res = 3 + (2*5)
print(res)

13

In [8]:
res = res/3
print(res)

4.333333333333333

In [9]:
print(1 + 2 - 1231)

-1228

In [11]:
print(a + b + c)

-1228

# 변수 문자열 사용법

In [12]:
a = 'Hello World'
print(a)

b = "안녕 세상"
print(b)

Hello World
안녕 세상

In [13]:
a = "Hi"
print(a)

Hi

In [14]:
b = a
print(b)

Hi

In [15]:
longName = '''원하는
내용물
편하게

여러 줄로 입력하기'''
print(longName)

원하는
내용물
편하게

여러 줄로 입력하기

# 변수 활용 퀴즈

In [18]:
p = 123
k = p
print(k)

123

# if 사용하기

In [21]:
age = 25

print('if 시작')
if age > 19:
    print('1111')
    print('성인입니다')
    print('3333')
else:
    print('청소년입니다')
    print('2222')
print('if 끝')

if 시작
1111
성인입니다
3333
if 끝

In [22]:
age = 17

if 14 <= age <= 16:
    print('중학생입니다')
else:
    print('중학생이 아니므르.. 할인해드릴 수 없어요')

중학생이 아니므르.. 할인해드릴 수 없어요

In [25]:
score = 55

# 90점 이상은 수, 80점 이상은 우 ...

if score >= 90:
    print('수')
elif score >= 80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
    print('양')
else:
    print('가')

가

# 리스트

In [27]:
myname = '박청용'
birth = 650101
addr = '서울 마포 공덕'

person_info = [myname, birth, addr, '남자', 1100]

print(person_info[0])

박청용

# 딕셔너리

In [34]:
myname = '박청용'
birth = 650101
addr = '서울 마포 공덕'

user_info = {
    'name' : myname,
    'birth' : birth,
    'address' : addr
}
print(user_info['name'])

박청용

In [41]:
person_info2 = ['박지성', 810225, '멘체스터', '남자', 1300]

print(person_info)
print(person_info2)

user_list = [person_info, person_info2, user_info]
print(user_list[0])
print(user_list[0][0])
print(user_list[2]['birth'])

['박청용', 650101, '서울 마포 공덕', '남자', 1100]
['박지성', 810225, '멘체스터', '남자', 1300]
['박청용', 650101, '서울 마포 공덕', '남자', 1100]
박청용
650101