In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df_test = pd.read_csv('data/test.csv')

In [4]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())

df.loc[df['Age'] < 10, 'Age'] = 0
df.loc[(df['Age'] >= 10) & (df['Age'] < 20), 'Age'] = 1
df.loc[(df['Age'] >= 20) & (df['Age'] < 30), 'Age'] = 2
df.loc[(df['Age'] >= 30) & (df['Age'] < 40), 'Age'] = 3
df.loc[(df['Age'] >= 40) & (df['Age'] < 50), 'Age'] = 4
df.loc[df['Age'] >=50, 'Age'] = 5
df_test.loc[df_test['Age'] < 10, 'Age'] = 0
df_test.loc[(df_test['Age'] >= 10) & (df_test['Age'] < 20), 'Age'] = 1
df_test.loc[(df_test['Age'] >= 20) & (df_test['Age'] < 30), 'Age'] = 2
df_test.loc[(df_test['Age'] >= 30) & (df_test['Age'] < 40), 'Age'] = 3
df_test.loc[(df_test['Age'] >= 40) & (df_test['Age'] < 50), 'Age'] = 4
df_test.loc[df_test['Age'] >=50, 'Age'] = 5

df['FamilySize'] = df['SibSp'] + df['Parch']
df_test['FamilySize'] = df_test['SibSp'] + df_test['Parch']

df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
df_test['Fare'] = df_test['Fare'].fillna(df_test['Fare'].mean())
df['Embarked'] = df['Embarked'].fillna('S')
df_test['Embarked'] = df_test['Embarked'].fillna('S')

In [5]:
df.loc[df['Sex'] == 'male', 'Sex'] = 0
df.loc[df['Sex'] == 'female', 'Sex'] = 1

In [6]:
df_test.loc[df_test['Sex'] == 'male', 'Sex'] = 0
df_test.loc[df_test['Sex'] == 'female', 'Sex'] = 1

In [7]:
df['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
df.loc[df['Embarked'] == 'S', 'Embarked'] = 0
df.loc[df['Embarked'] == 'C', 'Embarked'] = 1
df.loc[df['Embarked'] == 'Q', 'Embarked'] = 2

In [9]:
df_test.loc[df_test['Embarked'] == 'S', 'Embarked'] = 0
df_test.loc[df_test['Embarked'] == 'C', 'Embarked'] = 1
df_test.loc[df_test['Embarked'] == 'Q', 'Embarked'] = 2

In [10]:
train = df[['Survived', 'Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]
test = df_test[['Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]

train.head()

   Survived  Sex  Age  FamilySize     Fare  Embarked
0         0    0  2.0           1   7.2500         0
1         1    1  3.0           1  71.2833         1
2         1    1  2.0           0   7.9250         0
3         1    1  3.0           1  53.1000         0
4         0    0  3.0           0   8.0500         0

In [11]:
test

     Sex  Age  FamilySize      Fare  Embarked
0      0  3.0           0    7.8292         2
1      1  4.0           1    7.0000         0
2      0  5.0           0    9.6875         2
3      0  2.0           0    8.6625         0
4      1  2.0           2   12.2875         0
..   ...  ...         ...       ...       ...
413    0  3.0           0    8.0500         0
414    1  3.0           0  108.9000         1
415    0  3.0           0    7.2500         0
416    0  3.0           0    8.0500         0
417    0  3.0           2   22.3583         1

[418 rows x 5 columns]

# stage3

In [12]:
x_train = train[['Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]
y_train = train['Survived']

x_train

     Sex  Age  FamilySize     Fare  Embarked
0      0  2.0           1   7.2500         0
1      1  3.0           1  71.2833         1
2      1  2.0           0   7.9250         0
3      1  3.0           1  53.1000         0
4      0  3.0           0   8.0500         0
..   ...  ...         ...      ...       ...
886    0  2.0           0  13.0000         0
887    1  1.0           0  30.0000         0
888    1  2.0           3  23.4500         0
889    0  2.0           0  30.0000         1
890    0  3.0           0   7.7500         2

[891 rows x 5 columns]

In [13]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier() # 초기화
tree.fit(x_train, y_train) # 학습

tree.score(x_train, y_train) # 성능 확인

0.9450056116722784

In [15]:
x_test = test[['Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]

x_test

     Sex  Age  FamilySize      Fare  Embarked
0      0  3.0           0    7.8292         2
1      1  4.0           1    7.0000         0
2      0  5.0           0    9.6875         2
3      0  2.0           0    8.6625         0
4      1  2.0           2   12.2875         0
..   ...  ...         ...       ...       ...
413    0  3.0           0    8.0500         0
414    1  3.0           0  108.9000         1
415    0  3.0           0    7.2500         0
416    0  3.0           0    8.0500         0
417    0  3.0           2   22.3583         1

[418 rows x 5 columns]

In [16]:
prediction = tree.predict(x_test)

In [17]:
x_test

     Sex  Age  FamilySize      Fare  Embarked
0      0  3.0           0    7.8292         2
1      1  4.0           1    7.0000         0
2      0  5.0           0    9.6875         2
3      0  2.0           0    8.6625         0
4      1  2.0           2   12.2875         0
..   ...  ...         ...       ...       ...
413    0  3.0           0    8.0500         0
414    1  3.0           0  108.9000         1
415    0  3.0           0    7.2500         0
416    0  3.0           0    8.0500         0
417    0  3.0           2   22.3583         1

[418 rows x 5 columns]

In [18]:
submit = pd.DataFrame({
    'PassengerId' : df_test['PassengerId'],
    'Survived' : prediction
})

submit.to_csv('submit.csv', index = False)

In [19]:
my_prediction = pd.read_csv('submit.csv')

my_prediction.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

# week4 - Stage1

In [20]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)

print('training set accuracy: ', tree.score(x_train, y_train))

training set accuracy:  0.9450056116722784

In [21]:
tree1 = DecisionTreeClassifier()
tree1.fit(x_train, y_train)

print('training set accuracy: ', tree1.score(x_train, y_train))

training set accuracy:  0.9450056116722784

In [22]:
tree2 = DecisionTreeClassifier()
tree2.fit(x_train, y_train)

print('training set accuracy: ', tree2.score(x_train, y_train))

training set accuracy:  0.9450056116722784

In [23]:
tree3 = DecisionTreeClassifier()
tree3.fit(x_train, y_train)

print('training set accuracy: ', tree3.score(x_train, y_train))

training set accuracy:  0.9450056116722784

In [24]:
x_valid = x_train[0:100]
y_valid = y_train[0:100]

x_train = x_train[100:]
y_train = y_train[100:]

In [25]:
tree1 = DecisionTreeClassifier()
tree1.fit(x_train, y_train)

print('training set accuracy: ', tree1.score(x_train, y_train))
print('validation set accuracy: ', tree1.score(x_valid, y_valid))

tree2 = DecisionTreeClassifier()
tree2.fit(x_train, y_train)

print('training set accuracy: ', tree2.score(x_train, y_train))
print('validation set accuracy: ', tree2.score(x_valid, y_valid))

tree3 = DecisionTreeClassifier()
tree3.fit(x_train, y_train)

print('training set accuracy: ', tree3.score(x_train, y_train))
print('validation set accuracy: ', tree3.score(x_valid, y_valid))

training set accuracy:  0.9443742098609356
validation set accuracy:  0.78
training set accuracy:  0.9443742098609356
validation set accuracy:  0.79
training set accuracy:  0.9443742098609356
validation set accuracy:  0.78