In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
a = 1
b = 2
c = -1231
d = 123
print(a, b, c, d)

1 2 -1231 123

In [4]:
add = 123 + 321
print(add)

444

In [16]:
res = 3 + (2*5)
print(res)

13

In [8]:
res = res/3
print(res)

4.333333333333333

In [9]:
print(1 + 2 - 1231)

-1228

In [11]:
print(a + b + c)

-1228

# 변수 문자열 사용법

In [12]:
a = 'Hello World'
print(a)

b = "안녕 세상"
print(b)

Hello World
안녕 세상

In [13]:
a = "Hi"
print(a)

Hi

In [14]:
b = a
print(b)

Hi

In [15]:
longName = '''원하는
내용물
편하게

여러 줄로 입력하기'''
print(longName)

원하는
내용물
편하게

여러 줄로 입력하기

# 변수 활용 퀴즈

In [ ]:
k = p
p = 123
print(k)